BaseExternalConnector/Service References/ServiceReference1/DataServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="BENEFITS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAREER_DEVELOPMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CELEBRATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COLLABORATION_CULTURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENVIR_HEALTHY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FELLOWSHIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIRING_EFFECTIVITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INFRASTRUCTURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INNOVATION_CULTURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MANAGEMENT_CULTURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGEMENT_FEEDBACK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGEMENT_RESPECT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO_DISCRIMINATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPEN_COMMUNICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PURPOSE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PredictionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PredictionLabelResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECOGNITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOCIAL_WORK_BALANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAINING" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="ExternalEvaluation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdiceToPresident" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comp_Benefits" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cons" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Culture_Values" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PredictionLabelResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recommend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senior_Management" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserProfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Work_Life_Balance" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalEvaluation" nillable="true" type="tns:ExternalEvaluation" />
  <xs:complexType name="ArrayOfExternalEvaluation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalEvaluation" nillable="true" type="tns:ExternalEvaluation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalEvaluation" nillable="true" type="tns:ArrayOfExternalEvaluation" />
  <xs:complexType name="TouchPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OccurrenceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TouchPoint" nillable="true" type="tns:TouchPoint" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>