MachineLearningEngine/MachineLearningEngine/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PredictionDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPredictionDataService_GetAllPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPosts" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_GetAllPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_GetPostByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostByStatus" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_GetPostByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_UpdatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePost" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_UpdatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePostResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPost" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPostResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddExternalContent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalContent" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddExternalContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalContentResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_GetExternalContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalContent" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_GetExternalContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalContentResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddTouchPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTouchPoint" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddTouchPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTouchPointResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_GetCategoryByLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByLabel" />
  </wsdl:message>
  <wsdl:message name="IPredictionDataService_GetCategoryByLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByLabelResponse" />
  </wsdl:message>
  <wsdl:portType name="IPredictionDataService">
    <wsdl:operation name="GetAllPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/GetAllPosts" message="tns:IPredictionDataService_GetAllPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/GetAllPostsResponse" message="tns:IPredictionDataService_GetAllPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/GetPostByStatus" message="tns:IPredictionDataService_GetPostByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/GetPostByStatusResponse" message="tns:IPredictionDataService_GetPostByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/UpdatePost" message="tns:IPredictionDataService_UpdatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/UpdatePostResponse" message="tns:IPredictionDataService_UpdatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/AddPost" message="tns:IPredictionDataService_AddPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/AddPostResponse" message="tns:IPredictionDataService_AddPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExternalContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/AddExternalContent" message="tns:IPredictionDataService_AddExternalContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/AddExternalContentResponse" message="tns:IPredictionDataService_AddExternalContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/GetExternalContent" message="tns:IPredictionDataService_GetExternalContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/GetExternalContentResponse" message="tns:IPredictionDataService_GetExternalContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTouchPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/AddTouchPoint" message="tns:IPredictionDataService_AddTouchPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/AddTouchPointResponse" message="tns:IPredictionDataService_AddTouchPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/AddPerson" message="tns:IPredictionDataService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/AddPersonResponse" message="tns:IPredictionDataService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPredictionDataService/GetCategoryByLabel" message="tns:IPredictionDataService_GetCategoryByLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPredictionDataService/GetCategoryByLabelResponse" message="tns:IPredictionDataService_GetCategoryByLabel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPredictionDataService" type="tns:IPredictionDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPosts">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/GetAllPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostByStatus">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/GetPostByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/UpdatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/AddPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalContent">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/AddExternalContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalContent">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/GetExternalContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTouchPoint">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/AddTouchPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByLabel">
      <soap:operation soapAction="http://tempuri.org/IPredictionDataService/GetCategoryByLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PredictionDataService">
    <wsdl:port name="BasicHttpBinding_IPredictionDataService" binding="tns:BasicHttpBinding_IPredictionDataService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DataServices/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>